*{
    padding: 0;
    margin: 0;
    list-style: none;

}
body{
    font-family: 'Heebo', sans-serif, Arial;
    background-color: #eaedfe;
}
.test-page{
    background-image: url(picture/background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.container{
    padding: 0 15%;
    PADDING-TOP: 100PX;
}
.test-container{
    padding-top: 10px;
    background-image: url(picture/my\ art.png);
    border-radius: 25px;
    background-size: cover;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.test-container .timer{
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 5px 1px 10px #9da3fb;
}
.test-container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 100%;
}
.question-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test-container .content .question{
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #eceffe;
    border-radius: 25px;
    width: 70%;
    text-align: center;
    box-shadow: 0px 6px 9px 2px #eceffe;
    position: relative;
}

.test-container .content .path1 .question::after,
.test-container .content .path2 .question::after,
.test-container .content .path3 .question::after{
    content: "IQ: 1-5";
    background-color: #9da3fb;
    border-radius: 25px;
    position: absolute;
    top: -5px;
    left: 50%;
    width: fit-content;
    padding: 5px 12px;
    font-size: 14px;
    color: white;
    transform: translate(-50% , -50%);
}
.test-container .content .path1 .question-container:nth-child(1) .question::after{
    content: "IQ: 1-5";
}
.test-container .content .path1 .question-container:nth-child(2) .question::after{
    content: "IQ: 2-5";
}
.test-container .content .path1 .question-container:nth-child(3) .question::after{
    content: "IQ: 3-5";
}
.test-container .content .path1 .question-container:nth-child(4) .question::after{
    content: "IQ: 4-5";
}
.test-container .content .path1 .question-container:nth-child(5) .question::after{
    content: "IQ: 5-5";
}
.test-container .content .path2 .question-container:nth-child(1) .question::after{
    content: "English: 1-5";
}
.test-container .content .path2 .question-container:nth-child(2) .question::after{
    content: "English: 2-5";
}
.test-container .content .path2 .question-container:nth-child(3) .question::after{
    content: "English: 3-5";
}
.test-container .content .path2 .question-container:nth-child(4) .question::after{
    content: "English: 4-5";
}
.test-container .content .path2 .question-container:nth-child(5) .question::after{
    content: "English: 5-5";
}
.test-container .content .path3 .question-container:nth-child(1) .question::after{
    content: "Technical: 1-10";
}
.test-container .content .path3 .question-container:nth-child(2) .question::after{
    content: "Technical: 2-10";
}
.test-container .content .path3 .question-container:nth-child(3) .question::after{
    content: "Technical: 3-10";
}
.test-container .content .path3 .question-container:nth-child(4) .question::after{
    content: "Technical: 4-10";
}
.test-container .content .path3 .question-container:nth-child(5) .question::after{
    content: "Technical: 5-10";
}
.test-container .content .path3 .question-container:nth-child(6) .question::after{
    content: "Technical: 6-10";
}
.test-container .content .path3 .question-container:nth-child(7) .question::after{
    content: "Technical: 7-10";
}
.test-container .content .path3 .question-container:nth-child(8) .question::after{
    content: "Technical: 8-10";
}
.test-container .content .path3 .question-container:nth-child(9) .question::after{
    content: "Technical: 9-10";
}
.test-container .content .path3 .question-container:nth-child(10) .question::after{
    content: "Technical: 10-10";
}
.test-container .content .answers{
    width: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.test-container .content .answers .answer{
    flex-basis: 34%;
    text-align: center;
    margin: 3%;
    border: 1px solid #eceffe;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 2px 7px 1px #eceffe;
    transition: ease 0.3s;
    cursor: pointer;
}
.test-container .content .answers .answer:hover{
    box-shadow: 0px 2px 7px 1px #aaaffb;
}
.test-container .content .controls{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.test-container .content .controls .before{
    color: #9da3fb;
    font-size: 18px;
    cursor: pointer;
    transition: ease 0.3s;
    display: none;
}
.test-container .content .controls .before:hover{
    color: #4a54f1;
}
.test-container .content .controls .after{
    color: #9da3fb;
    font-size: 27px;
    display: none;
    cursor: pointer;
    transition: ease 0.3s;
}
.test-container .content .controls .after:hover{
    color: #4a54f1;
}
.test-container .content .controls .dots{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}
.test-container .content .controls .dots .dot{
    width: 12px;
    height: 12px;
    border: 1px solid #9da3fb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.test-container .content .controls .dots .dot:hover{
    border: 1px solid #4a54f1;
}
@media (max-width: 1000px){
    .container{
        padding: 0 14%;
        PADDING-TOP: 150PX;
    }
    .test-container{
        background-size: contain;
    background-repeat: no-repeat;
    }
    .test-container .content{
        margin-top: 85px;
        background-color: white;
        border-radius: 0px 0px 25px 25px;
    }
}
@media (max-width: 780px){
    .test-container .content .question {
        width: 80%;
    }
    .test-container .content{
        margin-top: 75px;
        background-color: white;
    }
}
@media (max-width: 720px){
    .test-container .content{
        margin-top: 83px;
    }
    .container {
        padding: 0 8%;
        PADDING-TOP: 120PX;
    }
    .test-container {
        background-repeat: repeat;
        background-size: cover;
    }
    .test-container .content .question {
        width: 86%;
    }
    .test-container .content .answers {
        width: 94%;
    }
    .test-container .content .controls {
        margin-top: 25px;
    }
    
}
@media (max-width: 450px){
    .test-container .content .answers .answer {
        width: 80%;
        flex-basis: auto;
    }
    .test-container .content .question {
        width: 80%;
    }
    .container {
        padding: 0px 5%;
        PADDING-TOP: 100PX;
    }
    .test-container .content {
        margin-top: 25px;
    }
    .test-container .content .controls {
        margin-top: 15px;
    }
    .test-container .content .controls .dots {
        width: 80%;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        margin: 0 7px;
    }
}
/* js classes */
.hide{
    display: none;
}
.show{
    display: flex;
}

.colorIt{
    box-shadow: 0px 2px 8px 3px #9da3fb !important;
}

.answered-dot{
    background-color: #9da3fb61;
}
.active-dot{
    background-color: #aaaffb;
    box-shadow: 0 0 2px 0px #9da3fb;
}
.onSubmit{
    color: white;
    background-color: #9da3fb;
    padding: 5px;
    border: 0;
    border-radius: 15px;
    width: 65px;
    margin: 20px 0 10px;
    cursor: pointer;
    transition: 0.3s ease;

}
.onSubmit:hover{
    transform: scale(1.05);
    background-color: #4a54f1;
}
.test-page .sure{
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: rgb(181 185 247);
    transform: translate(-50%, -50%);
    border: 1px solid rgb(157, 163, 251);
    box-shadow: rgb(0 0 0 / 27%) 0px 0px 8px 650px;
    border-radius: 100px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.test-page .sure .main-text{
    margin-top: 10%;
    margin-bottom: 5%;
}
.test-page .sure .secondary-text{
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 400;
}
.test-page .sure .choose{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}
.test-page .sure .choose .yes{
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    cursor: pointer;
    transition: ease 0.3s;
}
.test-page .sure .choose .yes a{
text-decoration: none;
color: white;
}

.test-page .sure .choose .no{
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    cursor: pointer;
    transition: ease 0.3s;
}
.test-page .sure .choose .yes:hover,
.test-page .sure .choose .no:hover,
.test-page .sure .choose .yes a:hover,
.test-page .sure .choose .yes a:focus{
color: #4a54f1;
}
.popme{
    display: flex !important ;
}
@media(max-width:850px) {
    .test-page .sure{
        width: 75%;
    }
}
@media(max-width:500px) {
    .test-page .sure{
        width: 92%;
    }
    .test-page .sure .main-text {
        margin-top: 20%;
    }
}

.tick{
    display: block !important;
}
.last-answer{
    display: none !important;
}